@use "./variables.scss" as *;

// put your custom CSS here!
// quartz/styles/custom.scss

// Force the parent grid container to center itself on wide desktop displays
#quartz-body {
  display: grid !important;
  justify-content: center !important; /* Centers the left, middle, and right columns as one unit */
  margin: 0 auto !important;
  max-width: 100vw;
}
